.querynode-head {
    display: flex;
    justify-content: center;
    font-size: 11px;
    height: 16px;
    border-radius: 4px 4px 0px 0px;
    color: white
} 

.querynode-container {
    .right-btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform:translate(50%,-50%);
        z-index: 100;
        opacity: 0;
    }

    .right-btn:hover {
        opacity: 1;
    }

    .left-btn {
        position: absolute;
        top: 50%;
        left: 0;
        transform:translate(-50%,-50%);
        z-index: 100;
        border: 2px solid #7B6D64;
        opacity: 0;
    }

    .left-btn:hover {
        opacity: 1;
    }

    .querynode-btn {
        position: absolute;
        top: 0px;
        /* right: 0px; */
        z-index: 100;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .btn-opacity {
        opacity: 0;
    }

    .query-node-vis-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 112px;
        margin-top: 6px;
        border-radius: 4px;
        border-width: 0.7px;
        border-style: solid;
        overflow: hidden;
    }

    .cardContent {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4; 
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 3px;
        /* height: 72px; */
        font-size: 16px; 
        line-height: 1.3; 
    }

    .addNewsBtn {
        position: absolute;
        bottom: -4px;
        right: -4px;
    }

    .addNewsBtn-opacity {
        position: absolute;
        bottom: -5px;
        right: -5px;
        opacity: 0;
    }
}

.ant-card {
    /* border: 1px solid red; */
    border-radius: 7px; 

    .ant-card-head {
        min-height: 6px;
        padding: 0;
        border-bottom: 0px;
    }

    .ant-card-body {
        padding: 0 8px;
        /* margin-top: 10px; */
    }
}


.ant-btn-circle {
    background-color: white;
}

.ant-btn-primary:hover {
    background-color: #F8F8FF !important;
}
