.retrieved-facts {
    /* display: flex; */
    /* flex-direction: column; */
    margin-top: 6px;
    /* height: 100%; */
    /* overflow: hidden; */
    /* flex: 1; */

    .retrieved-facts-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 35px;
        width: 100%;
        font-size: 15px;
        font-weight: 600;
        background-color: rgba(239, 239, 239, 1);
        border-radius: 6px;
        padding: 0 14px;
    }

    .retrieved-facts-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* margin-top: 6px; */
        overflow: scroll;

        .fact-config {
            margin-bottom: 5px;
            padding: 0 16px;

            .fact-config-header {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 31px;
                width: 100%;
                background-color: rgba(225, 235, 243, 1);
                border-radius: 6px;
                font-weight: 600;
            }

            .fact-config-panel {
                display: flex;
                margin-top: 6px;
                width: 100%;   
            }
        }
        .data-source {
            padding: 0 16px;

            .data-source-header {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 31px;
                width: 100%;
                background-color: rgba(225, 235, 243, 1);
                border-radius: 6px;
                font-weight: 600;
            }
            .data-source-table {
                width: 100%;
            }
        }
        .panel-footer {
            text-align: right;
            padding: 8px 16px;
            border-top: 1px solid #BAD2E2;
        }
    }
}

.fact-collapse {
    overflow: scroll;
    margin-top: 6px;
    height: 100%;

    /* 空态时的样式 */
    .blank-view {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .blank-placeholder {
            width: 220px;
            margin-bottom: 20px;
        }

        .blank-tip {
            color: rgba(206, 206, 206, 1);
            font-size: 15px;
        }
    }

    .fact-config {
        margin-bottom: 5px;
        padding: 0 16px;

        .fact-config-header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 31px;
            width: 100%;
            background-color: rgba(225, 235, 243, 1);
            border-radius: 6px;
            font-weight: 600;
        }

        .fact-config-panel {
            display: flex;
            margin-top: 6px;
            width: 100%;   
        }
    }
    .data-source {
        padding: 0 16px;

        .data-source-header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 31px;
            width: 100%;
            background-color: rgba(225, 235, 243, 1);
            border-radius: 6px;
            font-weight: 600;
        }
        .data-source-table {
            width: 100%;
        }
    }
    .panel-footer {
        display: flex;
        justify-content: space-between;
        text-align: right;
        padding: 8px 16px;
        border-top: 1px solid #BAD2E2;

        .data-source-name {
            display: flex;
            align-items: center;
            margin-right: 10px;
            text-align: left;
            white-space: nowrap; /* 防止文本换行 */
            overflow: hidden; /* 隐藏超出容器的内容 */
            text-overflow: ellipsis; 
            color: rgba(188, 188, 188, 1);
            font-size: 12px;
        }
    }
}


.fact-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 7px 16px !important;
}

.fact-collapse .ant-collapse-item-active {
    background-color: rgba(205, 236, 255, 0.08) !important;
    border: 1px solid rgba(99, 153, 188, 1) !important;
}

.ant-table-cell {
    padding: 10px !important;
}

.ant-pagination {
    margin: 8px 0 !important;
}

.blank-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



